<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Dashboard{% endblock %}</title>
    
    <!-- Tailwind CSS - Prebuilt version -->
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio"></script>
    
    <!-- Other resources -->
    <link href="https://cdn.datatables.net/1.13.7/css/dataTables.tailwind.min.css" rel="stylesheet">
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
    <meta name="csrf-token" content="{{ csrf_token() }}">
</head>
<body>
    <!-- Nav -->
    <div class="border-b">
        {% include 'components/nav.html' %}
    </div>
    
    <!-- Page Header -->
    <div class="border-b">
        <div class="mx-auto max-w-[1280px] w-full px-4">
            <div class="flex items-center justify-between py-6">
                <div>
                    <h1 class="text-2xl font-bold">{% block page_header_title %}{% endblock %}</h1>
                    <p class="text-sm text-gray-500 hidden sm:block">{% block page_header_description %}{% endblock %}</p>
                    {% include 'components/flash_messages.html' %}
                </div>
                {% block page_header_actions %}{% endblock %}
            </div>
        </div>
    </div>

    <!-- Content -->
    <div class="mx-auto max-w-[1280px] w-full px-4">
        <section class="content-section py-6">
            {% block layout %}{% endblock %}
        </section>
    </div>
</body>
</html> 